form.registros{
    //TODO: FAZER ESSES INPUTS
    // display: grid;
    // grid-template-columns: [first-c] 1fr [scnd-c]1fr;
    // grid-template-rows: [first-r] 1fr [scnd-r]1fr [third-r]1fr;

    input{
        // grid-column-start: scnd-c;
        // grid-column-end: scnd-c;
        // grid-row-start: first-r;
        // grid-row-end: first-r;
        padding:8px;
        margin: 10px;
        display:inline;
        border:none;
        border-bottom:1px solid #ade9ff;
    }

    // input[type=number]::-webkit-inner-spin-button {
    //     -webkit-appearance: none;
    // }
    
    button{
        margin: 10px;
        padding: 5px 10px;
        border: 1px solid #ade9ff;
        border-radius: 10px;
        background: #FFF;
        // color: #FFF;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    
    button:hover {
        background-color: #ade9ff; /* Green */
        color: white;
    }
}
